header {
    text-align: center;
    padding: 200px, 0;
    background-image: url("../resourse/images/pattern.webp");
    background-size: cover;
  }
  
  .centered {
      position: absolute;
      top: 23%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 93px;
      color: Khaki;
      font-family: Helvetica;
      font-weight: 600;
      text-align: center;
  }
  
  .cropped {
    width: 3000px;
    height: 300px;
    overflow: hidden;
  }
  
  .textStyle {
    font-size: 22px;
  }
  
  .headerStyle {
    font-size: 25px;
  }
  
  h1 {
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    margin: 0;
    padding: 0;
  }
  
  h2 {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
  }
  
  #brush {
    background-color: mediumspringgreen;
  }
  
  #frames {
    background-color: rgb(216, 88, 42);
  }
  
  #paint {
    background-color: skyblue;
  }
  
  span {
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
  }